*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 350px;
  padding: 10px;
  box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.card-img {
  width: 90%;
}

.card-star {
  width: 15%;
  margin: 10px 0;
  cursor: pointer;
}