* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #262626;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn > h2 {
    color: #262626;
}