@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background: #639;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}