*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 100%;
  color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 35px;
}

.btn-container {
  display: flex;
  column-gap: 20px;
  margin-top: -30px;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #737373;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}